[user]
	name = Evgeniy Dolzhenko
	email = dolzenko@gmail.com
[github]
	user = dolzenko
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	excludesfile = /home/evgeniy/.gitignore_global
	editor = emacs

